@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8f8f8;
    font-family: sans-serif;
}

.check, .x {
    font-size: 2rem;
}

.check::after {
    content: "✓";
    color: #a1b56c;
}

.x::after {
    content: "🞨";
    color: #ab4642;
}
