@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

.check::after {
    content: "✓";
}

.x::after {
    content: "🞨";
}

.plus::after {
    content: "+";
}
